/* Common styles for sidebar and content body */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.wrapper {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: stretch;
}
.d-none{
    display: none;
}
.blur {
    filter: blur(3px);
    pointer-events: none;
}

/* Sidebar Menu */
    #sidebar {
        border-radius: 0 10px 10px 0;
        min-width: 15%;
        max-width: 15%;
        z-index: 100;
        min-height: 100vh;
        padding: 30px 14px;
        background-color: #438146;
    }
    #sidebar li a{
        text-decoration: none;
        color: #FFFFFF;
    }
    #sidebar .nav-text{
        font-size: 16px;
        color: #FFFFFF;
    }
    #sidebar li a:hover{
        background: #FFFFFF;
        border-radius: 0.5rem;
    }
    #sidebar li a:hover .icon,
    #sidebar li a:hover .text{
        color: #005B05;
    }
    #sidebar.active {
        margin-left: -250px;
    }
    .icon{
        min-width: 3.5rem;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        width: 120px;
    }
    #sidebar-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    #sidebar #text-header{
        font-size: 45px;
        font-weight: 700;
        color: #FFFFFF;
    }
/* END */


/* Content Body */
    .content-wrapper{
        width: 100%;
        position: relative;
    }

    .top-nav-container{
        background: #FFF;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 20px 0 20px;
    }
    .top-nav-image{
        border-radius: 50%;
        height: 40px;
        width: 42px;
        border: 1.5px solid #005B05;
    }
    .top-nav-name{
        margin-left: 10px;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 400;
    }
    .profile-button{
        margin-left: 10px;
        font-size: 30px;
        cursor: pointer;
    }


    .content{
        padding: 20px;
    }
    .content-header{
        color:#005B05;
        font-weight: 600;
        font-size: 25px;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .content-header .action-container{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .content-header .action-container a{
        text-decoration: none;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: #005B05;
        color: #FFF;
    }
    .content-sub-header{
        font-size: 18px;
        color: black;
        margin-top: 34px;
    }


    .back-button{
        font-size: 14px;
        text-decoration: none;
    }
    .back-button:hover{
        text-decoration: none;
    }


    .search-button-container{
        margin: 30px 0 30px 0 ;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .search-container {
        width: 200px;
        position: relative;
    }
    .search-box{
        font-size: 14px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        width: 200px;
        height: 35px;
        box-sizing: border-box;
    }
    .search-icon{
        font-size: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: #555;
    }


    .add-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 35px;
        border-radius: 6px;
        border: 1px solid #005B05;
        background: #005B05;
        color: #FFF;
        text-decoration: none;
        font-weight: 600;
    }
    .add-button:hover{
        color: #FFF;
        text-decoration: none;
    }

    .select-filter{
        padding-left: 5px;
        font-size: 14px;
        width: 180px;
        height: 35px;
        border-radius: 5px ;
    }
/* END */


/* TABLE DESIGNS */
    .table-container table{
        width: 100%;
    }
    .table-container table thead{
        background: #DEF6DE;
        border-radius: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        color: #005B05;
    }
    .table-container table thead th{
        padding: .5rem;
    }
    .table-container table tbody{
        background: #FFFFFF;
        text-align: center;
        font-size: 14px;
        color: #000;
    }
    .table-container table tbody td{
        border-bottom: 1px solid #6C757D;;
        padding: 0.7rem;
    }
    .table-container .action-icons{
        border-radius: 5px;
        background: #005B05;
        padding: 5px;
        color: #FFFFFF;
        cursor: pointer;
    }
    .table-container table tbody a{
        text-decoration: none;
        color: #FFFFFF;
    }

    /* LIST OF COURSE IN VIEW PROGRAM */
    .course-table{
        margin-top: 25px;
        width: 90%;
    }
    .summary-table{
        margin-top: 25px;
        width: 60%;
    }
    .details-body thead{
        border-radius: 10px;
        font-size: 14px;
        font-weight: 600;
        color: #005B05;
    }
    .details-body thead th{
        padding-bottom: 10px;
    }
    .details-body th:last-child {
        text-align: center;
    }
    .details-body tbody{
        background: #FFFFFF;
        font-size: 14px;
        color: #000;
    }
    .details-body tbody td{
        padding-bottom: 5px;
    }
    .details-body td:last-child {
        text-align: center;
    }
    .summary-table tbody tr:last-child{
        border-top: 2px solid #000;
        font-weight: 600;
    }

/* END */


/* TAB STATUS DESIGN */
    .tab-status-container{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .tab-status{
        width: 37px;
        height: 8px;
        border: 2px solid #005B05;
        gap: 10px;
    }
    .tab-status-container .next{
        background: #D9D9D9;
        border: none;
    }
    .tab-status-container .done{
        background: #005B05;
    }
/* END */


/* SUB PAGES DESIGN */
    .sub-page-content{
        border-top: 2px solid #005B05;
        margin-top: 55px;
    }
    .sub-page-content .form-top-container{
        padding: 55px 100px 20px 0;
        display: flex;
        justify-content: space-between;
    }
    .form-top-container .form-header{
        font-size: 18px;
        font-weight: 600;
    }
    .form-top-container .form-input{
        width: 60%;
    }


    /* Add Program Courses */
    .form-top-container .courses-header p{
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
    }
    .courses-header .course-type{
        color: #005B05;
    }
    .form-top-container .modal-button-container{
        width: 60%;
    }
    .modal-button-container .program-input{
        width: 60%;
        border-radius: 5px;
        border: 1px solid #6D6D6D;
        background: #FFF;
        height: 35px;
    }
    .modal-button-container i{
        font-style: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color : #6D6D6D;
        font-weight: 500;
        cursor: pointer;
    }
    .modal-button-container select{
        font-size: 14px;
        padding-left: 10px ;
    }


    .sub-page-content .form-bottom-container{
        margin-top: 100px;
        padding: 0 100px 20px 0;
        display: flex;
        justify-content: space-between;
    }
    .form-bottom-container .clear-button{
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        color: #005B05;
    }
    .form-bottom-container .button-container{
        display: flex;
        justify-content: end;
        width: 60%;
    }


    .button-container a{
        text-decoration: none;
    }
    .button-container i{
        height: 40px;
        width: 150px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .button-container button{
        border: none;
        height: 40px;
        width: 150px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .button-container .continue-button{
        color: #FFF;
        background:#005B05;
    }
    .button-container .back-button{
        color: #005B05;
        border: 1px solid #005B05;
    }
/* END */


/* TAB HEADERS (VIEW CONTENTS) */

    .details-body{
        padding: 30px 20px 0 20px;
    }
    .tab-headers{
        color: #6D6D6D;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        gap : 100px;
    }
    .tab-headers i{
        font-style: normal;
        cursor: pointer;
    }
    .tab-headers .active{
        color: #000;
        border-bottom: 3px solid #005B05 ;
        margin-bottom: 10px;
    }

    .detail-group{
        padding-top: 10px;
        font-size: 14px;
        margin-bottom: -10px;
    }
    .detail-group .detail-label{
        font-weight: 500;
        color: #005B05;
        margin: 0;
    }

/* END */



/* ADD PROGRAM */
.program-courses-container {
    padding: 0 40px 0 40px;
    display: flex;
    flex-wrap: wrap;
}
.checkbox-group {
    flex: 0 0 calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}

/* ADD COURSE */
#schedule-input{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.schedule-actions{
    text-align: right;
    font-size: 30px;
    cursor: pointer;
}
.schedule-actions .add-row{
    font-weight: 600;
    color: #005B05;
}
.schedule-actions .delete-row{
    font-weight: 600;
    color: #D61422;
}