@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F8FFF8;
    overflow: hidden;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#success-image{
    width: 500px;
}
.text-container{
    text-align: center;
    margin-bottom: 20px;
}
.sub-heading-text{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -10px;
}
.form-button{
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 17px;
    font-weight: 600;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #005B05;
    color: #FFF;
    background: #005B05;
    cursor: pointer;
}