@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FAFCFE;
}
.container {
    height: 100vh;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* TEXT DESIGNS */
    .heading-text{
        font-size: 36px;
        font-weight: 600;
    }
    .sub-heading-text{
        font-size: 28px;
        font-weight: 600;
        color: #104F88;
    }
    .sub-text{
        font-size: 14px;
        color: #6D6D6D;
        margin-top: 0;
    }
    .label-input{
        font-weight: 600;
        font-size: 16px;
        color: #104F88;
        margin-bottom: 3px;
    }
    .checkbox-label{
        font-size: 14px;
        color: black;
    }
    #below-login-text{
        font-size: 13px;
        margin-top: 50px;
    }
    #mobile-login-link{
        display: none;
    }
    #signin-nav{
        font-style: none;
        color: #104F88;
        font-weight: 600;
        text-decoration: none;
    }
/* END */

/* INPUT ELEMENTS DESIGNS */
    .form-input{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .input-group{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .input-text {
        width: 100%;
        padding-left: 10px;
        box-sizing: border-box;
        height: 35px;
    }
    .input-text, select {
        background: #FFF;
        border: 1px solid #6D6D6D;
        border-radius: 5px;
        outline: none;
    }

    .input-checkbox {
        margin-top: -15px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 10px;
    }
    .input-checkbox div {
        flex: 1 0 45%;
        display: flex;
        align-items: center;
        color: #fff;
    }
    .input-checkbox input[type="checkbox"] {
        margin-right: 10px;
    }

    .file-uploads {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .custom-file-input {
        position: relative;
        height: 35px;
        color: #6D6D6D;
        border-radius: 5px;
        border: 1px solid #6D6D6D;
        background: #FFF;
        font-size: 14px;
        width: 320px;
    }
    .input-file {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .file-label, .birth_cert-label, .letter_intent-label, .rec_letter-label {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }
    .icon {
        margin-right: 7px;
    }
/* END */

/* FORM BODY & BUTTONS DESIGNS */
    #signup-form{
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-container{
        height: 100%;
        width: 80%;
    }

    .button-container{
        width: 100%;
        border-top: 2px solid #104F88;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 20%;
    }
    .button-container i,  .button-container button{
        height: 40px;
        width: 150px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: none;
    }
    .button-container .continue-button{
        margin-left: 20px;
        color: #FFF;
        background:#104F88;
    }
    .button-container .back-button{
        color: #104F88;
        border: 1px solid #104F88;
    }
/*  */


/* LEFT SIDE STYLES */
    .left-side{
        background-color: #D7EAFA;
        border-radius: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
        padding: 0.5rem;
    }
    #logo{
        margin: 10px 0 -30px 0;
    }
    .d-none{
        display:none;
    }

    ul.progress-steps{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        gap: 0;
    }
    ul.progress-steps li{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    ul.progress-steps li > span{
        position: relative;
        width: 40px;
        height: 40px;
        font-size: 14px;
        font-weight: 600;
        background-color: #B9B9B9;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 25px;
        border-radius: 50%;
        z-index: 1 ;
        color: #6D6D6D;
    }
    ul.progress-steps li > p{
        font-size:18px;
        font-weight:600;
    }

    ul.progress-steps li.done > span {
        position: relative;
    }
    ul.progress-steps li.done > span::before {
        content: '\2713';
        color: #FFF;
        background-color: #104F88;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    ul.progress-steps li.done > span::after {
        content: '';
        display: none;
    }
    ul.progress-steps li:not(:last-child)::before{
        content: '';
        position: absolute;
        left: 20px;
        top: 30px;
        width: 3px;
        height: 80px;
        background-color: #B9B9B9;;
    }

/* END */


@media (min-width: 768px) and (max-width: 1024px) {

    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .container {
        flex-direction: column;
        height: auto;
        overflow-x: hidden;
    }

    .left-side{
        border-radius: 0 0 20px 20px;
        width: 100%;
        padding: 10px 0 30px 0;
    }
    #logo{
        width: 120px;
        height: 120px;
        margin-bottom: -20px;
    }
    .heading-text{
        font-size: 24px;
    }
    #below-login-text{
        display: none;
    }

    ul.progress-steps{
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        overflow: hidden;
    }
    ul.progress-steps li,  ul.progress-steps li span{
        margin: 0;
        font-size: 12px;
        width: 30px;
        height: 30px;
    }
    ul.progress-steps li p{
        display: none;
        margin: 0;
    }
    ul.progress-steps li:not(:last-child)::before{
        content: "";
        height: 3px;
        width: 250px;
        position: absolute;
        left: 50%;
        top: 50%;
    }


    #signup-form{
        width: 100%;
        flex-direction: column;
    }
    .form-container{
        width: 90%;
    }
    .sub-heading-text{
        font-size: 18px;
    }
    .sub-text{
            font-size: 14px;
    }
    #mobile-login-link{
        padding: 10px 0 15px 0;
        display: block;
        font-size: 10px;
    }

    .label-input{
        font-size: 12px;
    }
    .input-text, select{
        font-size: 12px;
    }
    .checkbox-label{
        margin-right: 10px;
        font-size: 12px;
    }
    .file-uploads {
        flex-direction: column;
        gap: 10px;
    }
    .custom-file-input {
        width: 100%;
        font-size: 12px;
    }

    .form-input{
        margin-top: 30px;
        min-height: 550px;
        display: block;
    }
    .button-container{
        flex-direction: column;
        padding: 35px 0 35px 0;
        border-top: 0;
        border-bottom: 2px solid #104F88;
    }
    .button-container i,  .button-container button{
        font-size: 14px;
        width: 100%;
        border-radius: 4px;
    }
    .button-container .continue-button{
        margin: 15px 0 0 0;
    }

}

@media (min-width: 320px) and (max-width: 767px) {

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .container {
        flex-direction: column;
        height: auto;
        overflow-x: hidden;
    }

    .left-side{
        border-radius: 0 0 20px 20px;
        width: 100%;
        padding: 10px 0 30px 0;
    }
    #logo{
        width: 100px;
        height: 100px;
        margin-bottom: -20px;
    }
    .heading-text{
        font-size: 20px;
    }
    #below-login-text{
        display: none;
    }

    ul.progress-steps{
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        overflow: hidden;
    }
    ul.progress-steps li,  ul.progress-steps li span{
        margin: 0;
        font-size: 8px;
        width: 25px;
        height: 25px;
    }
    ul.progress-steps li p{
        display: none;
        margin: 0;
    }
    ul.progress-steps li:not(:last-child)::before{
        content: "";
        height: 2px;
        width: 150px;
        position: absolute;
        left: 50%;
        top: 50%;
    }


    #signup-form{
        width: 100%;
        flex-direction: column;
    }
    .form-container{
        width: 90%;
    }
    .sub-heading-text{
        font-size: 16px;
    }
    .sub-text{
        font-size: 10px;
    }
    #mobile-login-link{
        padding: 10px 0 15px 0;
        display: block;
        font-size: 8px;
    }

    .label-input{
        font-size: 10px;
    }
    .input-text, select{
        height: 30px;
        font-size: 10px;
    }
    .checkbox-label{
        margin-right: 10px;
        font-size: 10px;
    }
    .file-uploads {
        flex-direction: column;
        gap: 5px;
    }
    .custom-file-input {
        height: 30px;
        width: 100%;
        font-size: 10px;
    }

    .form-input{
        margin-top: 30px;
        min-height: 500px;
        display: block;
    }
    .button-container{
        flex-direction: column;
        padding: 35px 0 35px 0;
        border-top: 0;
        border-bottom: 2px solid #104F88;
    }
    .button-container i,  .button-container button{
        font-size: 12px;
        height: 30px;
        width: 100%;
        border-radius: 4px;
    }
    .button-container .continue-button{
        margin: 15px 0 0 0;
    }

}





