@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100VH;
}

.login-form-container {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box {
    width: 50%;
    border-radius: 25px;
    background: #D7EAFA;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#logo{
    margin: 10px 0 -30px 0;
    width: 145px;
    height: 145px;
}

#heading-text{
    font-size: 30px;
    font-weight: 700;
}
#sub-heading-text{
    font-size: 15px;
    margin: -35px 0 35px 0;
}

.error-text{
    color: red;
    font-size: 13px;
}
.login-text-box{
    font-size: 13px;
    margin-bottom: 30px;
    width: 85%;
    height: 2.5rem;
    border-radius: 8px;
    border: 1px solid #104F88;
    background: #FFF;
    padding-left: 0.8rem;
}
#signin-btn{
    border-radius: 8px;
    border: 1px solid #104F88;
    background: #104F88;
    width: 85%;
    height: 2.5rem;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-bottom: 20px;
}

#below-login-text{
    font-size: 12px;
    margin-bottom: 40px;
}
#signup-nav{
    font-style: none;
    color: #104F88;
    font-weight: 600;
    text-decoration: none;
}

.login-image-container {
    width: 45%;
}
#login-image {
    width: 100%;
}


@media (min-width: 768px) and (max-width: 1024px) {

    body{
        background: linear-gradient(192deg, #1464AB 0%, #D7EAFA 104.34%);
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .login-form-container{
        width: 100%;
    }
    .login-box {
        width: 55%;
    }
    #logo{
        margin: 10px 0 -30px 0;
        width: 120px;
        height: 120px;
    }

    #heading-text{
        font-size: 28px;
    }
    #sub-heading-text{
        font-size: 14px;
    }
    
    .error-text{
        font-size: 12px;
    }
    .login-text-box{
        font-size: 12px;
    }
    #signin-btn{
        font-size: 16px;
    }

    #below-login-text{
        font-size: 11px;
    }

    .login-image-container{
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
  
    body{
        background: linear-gradient(192deg, #1464AB 0%, #D7EAFA 104.34%);
    }

    .container {
        display: flex;
        justify-content: center;
    }
   
    .login-form-container{
        width: 100%;
    }
    .login-box {
        width: 80%;
    }
    #logo{
        margin-bottom: -20px;
        width: 110px;
        height: 110px;
    }

    #heading-text{
        font-size: 20px;
    }
    #sub-heading-text{
        font-size: 10px;
        margin-top: -20px;
    }

    .error-text{
        font-size: 10px;
    }
    .login-text-box{
        height: 30px;
        font-size: 10px;
    }
    #signin-btn{
        font-size: 15px;
    }

    #below-login-text{
        font-size: 8px;
    }

    .login-image-container{
        display: none;
    }
}